<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to 'Se baade', boats_path %>
<%= link_to 'Lav regatta', new_regattum_path %>
<%= link_to 'Se regattas', regatta_path %>
<%= link_to 'Lav race', new_race_path %>
